* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Home {
  background-color: rgb(244, 248, 248);
  min-height: 100vh;

}

.red {
  background-color: red;
  height: 40px;
}

.black {
  background-color: black;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5rem;
}

.circleblack {
  background-color: black;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circlewhite {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleback {
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.Bienvenida {
  background-color: rgb(244, 248, 248);
  padding: 30px;
  gap: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Bienvenida>h2 {
  color: red;
}

.Bienvenida>img {
  height: 80px;
  width: 400px;
  box-shadow: 0 0 2px black;
}

.Bienvenida>button {
  border: none;
  border-color: black;
  background-color: white;
  color: red;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
}

input {
  border: none;
  border-radius: 30px;
}

.pokedex {
  text-align: center;
}


/*MENU DESPLEGABLE*/
hr {
  margin: 0;
  padding: 0;
  width: 80%;
  position: relative;
  border-color: rgb(175, 130, 130);
  left: 10px;
}

#menu {
  margin-top: 30px;
}

#menu li {
  float: left;
  position: relative;
  padding: 6px 0;

  list-style: none;
  border-radius: 2px;
}

#menu li a {
  color: #000000;
  font-size: 12px;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

/*ocultamos el dropdown*/
#menu>li>ul {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 1px black;
  padding: 0;
  z-index: 2;
}

/*le damos el color blanco al enlance del submenu y el background negro */
#menu a:hover {
  width: 120px;
}

#menu li>ul a {
  width: 150px;
  display: block;
  color: rgb(0, 0, 0);
}

/* Con esto mantenemos el codigo submenu activo */
#menu li:hover>ul {
  display: block;
  width: 150px;
  top: 31px;
}

.dropdown {
  background-color: red;
  box-shadow: 0 0 1px black;
}

.dropdown>a {
  color: white;
}


/*PAGINACION*/


html {
  scroll-behavior: smooth;
}

.card-container {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 80%;
}
.card{
  color: black;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  min-height: 250px;
  width: 250px;
}
.card>h2{
  justify-content: center;
}
.card>p{
  text-align: initial;
  display: flex;
  padding: 9px;
}
.card>img{
  width: 70%;
  position: absolute;
  top: 90px;
  left: 90px;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  color: white;
  text-align: center;
}

.form {
  width: max-content;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50%;
  justify-content: center;
}

button {
  height: 30px;
  color: white;
  background-color: red;
  border: none;
  padding: 2px;

}

input {
  height: 30px;
  border-radius: 0%;
  box-shadow: 0 0 1px black;
  text-align: center;
}

.pagination-container {
  display: flex;
  gap: 30px;
  align-items: center;
  width: max-content;
  margin: 0 auto;
}

.pagination-number-container {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

.pagination-prev-next {
  font-size: 20px;
  color: red;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 2px black;
  border-color: black;
}

.page-number {
  font-size: 20px;
  color: black;
  cursor: pointer;
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.page-active {
  background-color: white;
  color: red;
  box-shadow: 0 0 4px black;
}
.rock{
  box-shadow: 0 0 4px brown;
  color: brown;
}
.poison{
  box-shadow: 0 0 4px rgb(255, 0, 221);
  color: rgb(255, 0, 221);
}
.fire{
  box-shadow: 0 0 4px rgb(253, 76, 53);
  color: rgb(253, 76, 53);
}
.water{
  box-shadow: 0 0 4px rgb(3, 145, 253);
  color:rgb(3, 145, 253);
}
.ice{
  box-shadow: 0 0 4px rgb(72, 248, 216);
  color:rgb(87, 154, 142);
} 
.grass{
  box-shadow: 0 0 4px rgb(3, 253, 16);
  color:rgb(76, 143, 79);
}
.psychic{
  box-shadow: 0 0 4px rgb(186, 3, 253);
  color:rgb(186, 3, 253);
}
.electric{
  box-shadow: 0 0 4px rgb(253, 253, 3);
  color: rgb(145, 145, 83);
}
.normal, .dark, .ghost, .steel{
  box-shadow: 0 0 4px rgb(0, 0, 0);
  color:rgb(0, 0, 0);
}
.ground{
  box-shadow: 0 0 4px rgb(130, 65, 0);
  color:rgb(130, 65, 0);
}
.bug{
  box-shadow: 0 0 4px rgb(222, 161, 104);
  color:rgb(222, 161, 104);
}
.dragon{
  box-shadow: 0 0 4px rgb(84, 69, 48);
  color:rgb(84, 69, 48);
}
.fairy{
  box-shadow: 0 0 4px rgb(0, 208, 255);
  color:rgb(0, 208, 255);
}
.fighting{
  box-shadow: 0 0 4px rgb(255, 0, 0);
  color:rgb(255, 0, 0);
}



/*pokemon@*/

.pokemonContainer {
  justify-content: center;
  background-color: aqua;
}

.Head {
  height: 20%;
  width: 100%;
  position: relative;
}

.pokemon {
  height: auto;
  min-height: 80%;
  gap: 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Head>img {
  position: absolute;
}

.pokemonInfo {
  min-width: 400px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.pokemonImg {
  min-height: 350px;
  width: 60%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
 margin-top: 8px;
}

.pokemonImg>div {
  position: absolute;
  bottom: 9%;
  font-weight: 1000;
  font-size: 20px;

}

.pokemonImg>img {
  height: 90%;
  width: min-content;
  position: absolute;
  bottom: 20%;
}

.pokemonCharacter {
  display: flex;
  width: 70%;
  gap: 5%;
  padding: 0 5%;
  margin: 15px;
}

.pokemonCharacter>div {
  min-height: 30px;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.pokemonAbility{
  width: 90%;
  border-top: 1px solid rgb(220, 173, 173);
  text-align: center;
  padding: 10px;
}
.type>div{
  width: 90%;
  border-top: 1px solid rgb(220, 173, 173);
  text-align: center;
  padding: 10px;  
}

.pokemonMoves {
  gap: 5%;
  padding: 3%;
  min-width: 300px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonMoves>div {
  min-height: 40px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  margin-bottom: 10px;
}
.pokemonMove{
  border-top: 1px solid rgb(220, 173, 173);
  text-align: center;
  padding: 10px;
  width: 70%;
  border-left: none;
}
.pokemonMove:hover{
  box-shadow: 0 0 10px black;
  border-radius: 3%;
  color: red;
}
.pokemonMoves>div>h2{
  margin-bottom: 10px;
}